@tailwind base;

blockquote {
  @apply border-l;
  @apply border-l-4;
  @apply border-l-blue-500;
  @apply pl-16;
  @apply italic;
  @apply my-8;

  p {
    padding: 0 !important;
  }
}

pre {
  @apply border-l;
  @apply border-l-2;
  @apply border-l-gray-500;
  @apply pl-4;
  @apply text-base;
}

:not(pre)>code {
  @apply text-red-600;
  @apply text-base;
}

table {
  @apply table-auto;
}

@tailwind components;

@tailwind utilities;

.header {
  max-height: 450px;
}

.logo {
  align-items: center;
  padding: 7vw 4vw;
  max-height: 450px;
}

.post-feed {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
  padding: 40px 0 0 0;
}

.post-related {
  h2 {
    @apply text-xl
  }
}

.post-card {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0 20px 40px;
  min-height: 300px;
  background-size: cover;
  border-radius: 5px;
  box-shadow: rgba(39, 44, 49, 0.06) 8px 14px 38px, rgba(39, 44, 49, 0.03) 1px 3px 8px;
  transition: all 0.5s ease;

  &:hover {
    box-shadow: rgba(39, 44, 49, 0.07) 8px 28px 50px, rgba(39, 44, 49, 0.04) 1px 6px 12px;
    transition: all 0.4s ease;
    transform: translate3D(0, -1px, 0) scale(1.02);
  }
}

.post-card-image-link {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}

.post-card-image {
  width: auto;
  height: 200px;
  background: var(--lightgrey) no-repeat center center;
  background-size: cover;
}

.post-card-content-link {
  position: relative;
  flex-grow: 1;
  display: block;
  padding: 25px 25px 0;
  color: var(--darkgrey);

  &:hover {
    text-decoration: none;
  }
}

.post-card-tags {
  display: block;
  margin-bottom: 4px;
  color: var(--midgrey);
  font-size: 1.2rem;
  line-height: 1.15em;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.post-card-title {
  margin-top: 0;
}

.post-card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-card-excerpt {
  font-family: Georgia, serif;
}

.post-card-meta {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 25px 25px;
}

.author-list {
  display: flex;
  flex-wrap: wrap-reverse;
  margin: 0;
  padding: 0;
  list-style: none;
}

.author-list-item {
  position: relative;
  flex-shrink: 0;
  margin: 0;
  padding: 0;

  &:nth-child(1) {
    z-index: 10;
  }

  &:nth-child(2) {
    z-index: 9;
  }

  &:nth-child(3) {
    z-index: 8;
  }

  &:nth-child(4) {
    z-index: 7;
  }

  &:nth-child(5) {
    z-index: 6;
  }

  &:nth-child(6) {
    z-index: 5;
  }

  &:nth-child(7) {
    z-index: 4;
  }

  &:nth-child(8) {
    z-index: 3;
  }

  &:nth-child(9) {
    z-index: 2;
  }

  &:nth-child(10) {
    z-index: 1;
  }
}

.static-avatar {
  display: block;
  overflow: hidden;
  margin: 0 -5px;
  width: 34px;
  height: 34px;
  border: #fff 2px solid;
  border-radius: 100%;
}

.moving-avatar {
  display: block;
  overflow: hidden;
  margin: 0 -6px;
  width: 56px;
  height: 56px;
  border: #fff 2px solid;
  border-radius: 100%;
  transition: all 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99) 0.7s;
}

.post-content {

  a {
    @apply underline;
    @apply text-black;

    &:hover {
      @apply text-blue-500;
    }
  }

}


@media (max-width: 1023px) {
  .post-related {
    .container {
      @apply max-w-full;
    }
  }
}

@media (min-width: 768px) {
  .post-feed {
    margin-top: -70px;
    padding-top: 0;
  }

  .author-list:hover .moving-avatar {
    margin: 0;
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  }

  .index-page {
    .post-feed .post-card:nth-child(6n+1):not(.no-image) {
      flex: 1 1 100%;
      flex-direction: row;

      .post-card-image-link {
        position: relative;
        flex: 1 1 auto;
        border-radius: 5px 0 0 5px;
      }

      .post-card-image {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .post-card-content {
        flex: 0 1 357px;
      }

      h2 {
        @apply text-2xl;
      }

      p {
        font-size: 1.2rem;
        line-height: 1.55em;
      }

      .post-card-content-link {
        padding: 30px 40px 0;
      }

      .post-card-meta {
        padding: 0 40px 30px;
      }
    }
  }
}

@media(min-width:640px) {

  .no-image {
    .post-content {
      margin-top: 0px;
    }
  }

  .post-content {
    margin-top: -140px;

    &:before {
      content: '';
      position: absolute;
      top: 15px;
      left: -5px;
      z-index: -1;
      display: block;
      width: 20px;
      height: 200px;
      background: rgba(39, 44, 49, 0.15);
      -webkit-filter: blur(5px);
      filter: blur(5px);
      -webkit-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
      transform: rotate(-5deg);
    }

    &:after {
      content: '';
      position: absolute;
      top: 15px;
      right: -5px;
      z-index: -1;
      display: block;
      width: 20px;
      height: 200px;
      background: rgba(39, 44, 49, 0.15);
      -webkit-filter: blur(5px);
      filter: blur(5px);
      -webkit-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
      transform: rotate(5deg);
    }
  }
}

/* Adjust some margins for smaller screens */
@media (max-width: 639px) {
  .post-feed {
    padding-top: 5vw;
  }

  .post-card {
    margin: 0 20px 5vw;
  }
}